
{% extends "master.html" %}

{% block title %}
  Aplicativos con ambientes QA
{% endblock %}


{% block content %}

<!--   <div class="mycard">
    <h1>PLATAFORMAS</h1>
    <ul>
        {% for x in plataformas %}
        <li onclick="window.location = 'detalles/{{ x.id_plataforma}}'">
          {{ x.id_plataforma }} - {{ x.nombre_plataforma }} - {{ x.id_sistema.nombre_sistema }}
        </li>
        {% endfor %}
    </ul>
  </div> -->

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Plataforma</th>
        <th>Sistema</th>
      </tr>
    </thead>
    <tbody>
      {% for x in plataformas %}
      <tr onclick="window.location = 'detalles/{{ x.id_plataforma }}'">
        <td>{{ x.id_plataforma }}</td>
        <td>{{ x.nombre_plataforma }}</td>
        <td>{{ x.id_sistema.nombre_sistema }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
