
{% extends "master.html" %}

{% block title %}
  {{ myplatform.nombre_plataforma }}
{% endblock %}


{% block content %}
{% comment %}   <h1>{{ myplatform.nombre_plataforma }}</h1>
  
  <p>Tipo Plataforma: {{ myplatform.tipo_servidor_plataforma }}</p>
  <p>Ambiente: {{ myplatform.tipo_ambiente_plataforma }}</p>

  
  <p>Back to <a href="/ambienteQA">Ambientes</a></p> {% endcomment %}

  <div class="mycard">
    <h1>{{ myplatform.nombre_plataforma }}</h1>
    <p>Tipo Plataforma: {{ myplatform.tipo_servidor_plataforma }}</p>
    <p>Ambiente: {{ myplatform.tipo_ambiente_plataforma }}</p>
  {% comment %}   <h3>Back to <a href="/ambienteQA">Ambientes</a></h3> {% endcomment %}
  </div>
  <div class="mycard">
  <button type="button" class="block"><a href="/ambienteQA">VOLVER A AMBIENTES</a></button>
  </div>
  {% comment %} <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/ambienteQA">VOLVER A AMBIENTES</a></button> {% endcomment %}
 
{% comment %}   <div>
  <p>Back to <a href="/ambienteQA">Ambientes</a></p>
  </div> {% endcomment %}
{% endblock %}